* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  background-color: hsl(0, 0%, 100%);
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100vw;
  height: 100vh;
  justify-items: stretch;
  align-items: stretch;
}

.image-background {
  background-image: url("images/bg-main-desktop.png");
  background-size: cover;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 30rem;
}
.direction-elements {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.direction-elements > input {
  border-width: 1px;
  border-radius: 4px;
  padding: 10px;
  border-color: hsl(0, 0%, 86%);
}

.span-title-label {
  padding: 10px 0;
}

#date-label {
  display: flex;
}

#date-label > input {
  border-width: 1px;
  border-radius: 4px;
  padding: 10px;
  border-color: hsl(0, 0%, 86%);
}
.exp-date-cvc {
  display: flex;
  justify-content: space-between;
}

#month {
  margin-right: 1rem;
}

#month,
#year {
  width: 5rem;
}

#button-confirm {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(270, 3%, 87%);
}
